/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run REPO4EU/modulediscovery -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '1.GB'
    max_time   = '6.h'

    // Input data

    input   = 'https://raw.githubusercontent.com/dinaghiassian/DIAMOnD/master/Example/seed_genes.txt'
    network = 'https://raw.githubusercontent.com/dinaghiassian/DIAMOnD/master/Example/PPI.txt'
    rwr_scaling = 0
    rwr_symmetrical = 0
}
